* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #212529 !important;
    font-weight: 300;
    /* border: 2px solid red; */
}

.bg-body-custom {
    background-color: #28A745;
    color: white;
}


header img, footer img {
    width: 100px;
}